alembic==1.4.3
autopep8==1.5.4
click==7.1.2
contextvars==2.4
dataclasses==0.7
fastapi==0.61.1
fastapi-login==1.5.1
FastAPI-SQLAlchemy==0.1.0
fastapi-utils==0.2.1
h11==0.11.0
immutables==0.14
Mako==1.1.3
MarkupSafe==1.1.1
passlib==1.7.4
pipdeptree==1.0.0
psycopg2==2.8.6
pycodestyle==2.6.0
pydantic==1.6.1
PyJWT==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
six==1.15.0
SQLAlchemy==1.3.19
starlette==0.13.6
toml==0.10.1
typing-extensions==3.7.4.3
uvicorn==0.12.1
