.slick-slider button,
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
  color: black !important;
  z-index: 1;
}

.slick-next {
  right: 10px;
}

.slick-next::after,
.slick-prev::after {
  content: "";
  position: absolute;
  top: 0.9px;
  left: 1.5px;
  height: 80%;
  width: 80%;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

.slick-prev {
  left: 10px;
  z-index: 1000;
}
